@model IEnumerable<OnlineOrderingSystem.Models.Product>


    
<div class="container mt-5">
    <div id="category-details-container" class="row justify-content-center">
        @foreach (var product in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 pb-3 d-flex">
                <div class="card product-item border-0 mb-4 w-100">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="~/images/@product.Image" alt="@product.Name">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="text-decoration-none">
                            <h6 class="text-truncate mb-3">@product.Name</h6>
                        </a>
                        <div class="d-flex justify-content-center">
                            <h6><p class="card-text"><strong>Price:</strong> <span id="price-@product.Id">@product.Price.ToString("C")</span></p></h6>
                        </div>
                        <div class="product-options">
                            @if (product.ProductOptions != null && product.ProductOptions.Count > 0)
                            {
                                <p><strong>Options:</strong></p>
                                <ul class="list-unstyled">
                                    @foreach (var option in product.ProductOptions)
                                    {
                                        <li>
                                            <input type="radio" name="option-@product.Id" value="@option.OptionPrice" data-product-id="@product.Id" data-option-id="@option.Id" onchange="updatePrice(@product.Id, @option.OptionPrice)"> @option.OptionName: @option.OptionPrice.ToString("C")
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-center bg-light border">
                        <a href="@Url.Action("Details", "Products", new { id = product.Id })" class="btn btn-sm text-dark p-0">
                            <i class="fas fa-eye text-primary mr-1"></i>View Detail
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
