@model OnlineOrderingSystem.ViewModels.CartViewModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var afToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
@* //cheackOut Page*@
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-8 cart">
            <div class="title mb-4">
                <div class="row">
                    <div class="col">
                        <h4><b>Shopping Cart</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">
                        @Model.CartItems.Count() items
                    </div>
                </div>
            </div>
            <div class="row border-top border-bottom py-3">
                @Html.AntiForgeryToken()
                @foreach (var item in Model.CartItems)
                {
                    <div class="row main align-items-center mb-5 w-100" data-cart-item-id="@item.CartItemId">
                        <div class="col-2">
                            <img src="~/images/@item.Image" class="img-fluid" alt="@item.ProductName" />
                        </div>
                        <div class="col-4">
                            <div class="row">@item.ProductName</div>
                        </div>
                        <div class="col-2">
                            $<span class="total-price" id="total-price-@item.ProductId">@item.TotalPrice.ToString("0.00")</span>
                        </div>
                        <div class="col-2">
                            <label>Quantity</label>
                            <p>@item.Quantity</p>
                        </div>
                        <div class="col-2 text-right">
                            <a href="#" class="remove-cart-item text-danger" data-cart-item-id="@item.CartItemId">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                        <div>
                            <label>Options:</label>
                            <ul>
                                @foreach (var option in item.ProductOptions)
                                {
                                    <li>@option.OptionName: $@option.OptionPrice.ToString("0.00")</li>
                                }
                            </ul>
                        </div>
                    </div>
                
                }
            </div>
            <div class="back-to-shop mt-3">
                <a asp-area="" asp-controller="Home" asp-action="HomePage" class="btn btn-outline-secondary">
                    <i class="fas fa-arrow-left"></i> Back to shop
                </a>
            </div>
        </div>
        <div class="col-md-8 summary mt-5">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-3">
                            <img src="@Model.Avatar" alt="User Avatar" class="img-fluid rounded-circle">
                        </div>
                        <div class="col-9 text-right">
                            <div class="row">
                                <div class="col">USER EMAIL</div>
                                <div class="col">@Model.Email</div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="payment-methods">
                        <div class="bg-white shadow-sm p-3 mb-3">
                            <ul role="tablist" class="nav nav-pills nav-fill">
                                <li class="nav-item">
                                    <input type="radio" id="credit-card-radio" name="selectedPaymentMethod" value="credit-card" checked>
                                    <label for="credit-card-radio" class="nav-link active"><i class="fas fa-credit-card mr-2"></i> Credit Card</label>
                                </li>
                                <li class="nav-item">
                                    <input type="radio" id="paypal-radio" name="selectedPaymentMethod" value="paypal">
                                    <label for="paypal-radio" class="nav-link"><i class="fab fa-paypal mr-2"></i> Paypal</label>
                                </li>
                                <li class="nav-item">
                                    <input type="radio" id="cash-radio" name="selectedPaymentMethod" value="cash">
                                    <label for="cash-radio" class="nav-link"><i class="fas fa-mobile-alt mr-2"></i> Cash</label>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div id="credit-card" class="tab-pane fade">
                                <p>Credit card payment content</p>
                            </div>
                            <div id="paypal" class="tab-pane fade">
                                <p>Paypal payment content</p>
                            </div>
                            <div id="net-banking" class="tab-pane fade">
                                <p>Bank transfer payment content</p>
                            </div>
                        </div>
                    </div>
                    <a id="checkoutBtn" class="btn btn-secondary btn-block mt-4">
                        Checkout - $@Model.CartItems.Sum(item => item.TotalPrice).ToString("0.00")
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .cart .title h4 {
        margin-bottom: 0;
    }

    .cart .main {
        padding: 15px 0;
    }

        .cart .main img {
            max-height: 100px;
        }

        .cart .main .total-price {
            font-weight: bold;
        }

    .cart .back-to-shop {
        margin-top: 20px;
    }

    .summary .avatar {
        max-height: 50px;
    }

    .summary .payment-methods .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .summary .payment-methods .nav-link.active {
            background-color: #007bff;
            color: white;
        }
</style>



    <script>



        $('.remove-cart-item').on('click', function (e) {
            e.preventDefault();
            var cartItemId = $(this).data('cart-item-id');
            removeCartItem(cartItemId);
        });

        function updateCartItem(cartItemId, quantity) {
            $.ajax({
                url: '@Url.Action("UpdateCartItem", "CartItems")',
                type: 'POST',
                data: {
                    id: cartItemId,
                    quantity: quantity,
                    __RequestVerificationToken: '@afToken'
                },
                success: function (response) {
                    if (response.success) {

                    } else {
                        alert('Error updating cart item.');
                    }
                }
            });
        }

        function removeCartItem(cartItemId) {
            $.ajax({
                url: '@Url.Action("RemoveCartItem", "CartItems")',
                type: 'POST',
                data: {
                    id: cartItemId,
                    __RequestVerificationToken: '@afToken'
                },
                success: function (response) {
                    if (response.success) {
                        $('div[data-cart-item-id="' + cartItemId + '"]').remove();

                    } else {
                        alert('Error removing cart item.');
                    }
                }
            });
        }


        $('#checkoutBtn').click(function () {
            var selectedPMethod = $('input[name="selectedPaymentMethod"]:checked').val();
            if (selectedPMethod) {
                $.ajax({
                    url: 'Checkout/Carts?' + 'selectedPaymentMethod=' + selectedPMethod,
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ selectedPaymentMethod: selectedPMethod }),
                    success: function (response) {
                        if (response.orderId) {
                            
                            window.location.href = '/Orders/OrderDetails/' + response.orderId;
                        } else {
                            console.error('Order ID not found in response.');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error('There was a problem with the AJAX request:', selectedPMethod);
                    }
                });
            } else {
                alert('Please select a payment method.');
            }
        });


    </script>
