    @model OnlineOrderingSystem.ViewModels.CartViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var afToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}
<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted">@Model.CartItems.Count() items</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                @Html.AntiForgeryToken()
                @foreach (var item in Model.CartItems)
                {
                    <div class="row flex-nowrap align-items-center main">
                        <div class="col-2">
                            <img src="~/images/@item.Image" class="img-fluid" alt="@item.ProductName" />
                        </div>
                        <div class="col-2">
                            <div class="row">@item.ProductName</div>
                        </div>
                        <div class="col-4">
                            <form asp-action="UpdateCartItem" method="post" class="updateCartItemForm">
                                <div class="form-group">
                                    <label asp-for="@item.Quantity" class="control-label">Quantity</label>
                                    <input asp-for="@item.Quantity" class="form-control quantityInput" data-cart-item-id="@item.CartItemId" />
                                    <span asp-validation-for="@item.Quantity" class="text-danger"></span>
                                </div>
                            </form>
                        </div>
                        <div class="col-2">
                            $<span class="total-price" id="total-price-@item.ProductId">@item.TotalPrice.ToString("0.00")</span>
                        </div>
                        <div class="col-2">
                            <a href="#" class="remove-cart-item" data-cart-item-id="@item.CartItemId">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="back-to-shop">
                <a asp-area="" asp-controller="Home" asp-action="HomePage" class="nav-item nav-link active">
                    <span class="text-muted">Back to shop</span>
                </a>
            </div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="col" style="padding-left:0;">
                <img src="@Model.Avatar" alt="User Avatar" style="width:50px;height:50px;border-radius:50%;">
            </div>
            <div class="row">
                <div class="col" style="padding-left:0;">USER EMAIL</div>
                <div class="col text-right">@Model.Email</div>
            </div>
            <hr>
         
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                <div class="col text-right">$<span id="total-cart-price">@Model.CartItems.Sum(item => item.TotalPrice).ToString("0.00")</span></div>
            </div>
            <a asp-controller="Carts" asp-action="Checkout" class="btn btn-secondary btn-block">Checkout</a>
        </div>

    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
    $(document).ready(function () {
        $(".quantityInput").change(function () {

            var quantity = $(this).val();
            var cartItemId = $(this).data('cart-item-id');

            $.ajax({
                headers: {
                    RequestVerificationToken: '@afToken'
                },

                url: '/CartItems/UpdateCartItem',
                type: 'POST',
                data: { id: cartItemId, quantity: quantity },
                success: function (data) {
                    toastr.info("success", "notice");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error updating cart item:", errorThrown, cartItemId);
                }
            });
        });
        $(document).on('click', '.remove-cart-item', function (event) {
            event.preventDefault(); 

            var cartItemId = $(this).data('cart-item-id');

            $.ajax({
                headers: {
                    RequestVerificationToken: '@afToken'
                },
                url: '/CartItems/RemoveCartItem',
                type: 'POST',
                data: { id: cartItemId },
                success: function (data) {
                    toastr.info("Item removed successfully", "Notice");
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error("Error removing cart item:", errorThrown, cartItemId);
                }
            });
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
