@model IEnumerable<OnlineOrderingSystem.Models.Order>

    @{
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }



<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>@Html.DisplayNameFor(model => model.TotalPrice)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                <td>@Html.DisplayFor(modelItem => item.User.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Status)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                <td>
                    <a asp-action="OrderDetails" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>