@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Sales Analytics</h2>

<div>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Carts</h5>
                    <p class="card-text">@ViewBag.TotalCarts</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text">@ViewBag.TotalUsers</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-warning mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Complete Orders</h5>
                    <p class="card-text">@ViewBag.TotalOrders</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Total Price of Complete Orders</h5>
                    <p class="card-text">@ViewBag.TotalPrice.ToString("C")</p>
                </div>
            </div>
        </div>
    </div>
    <h2>Categories</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th>Discount Percentage</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (dynamic)ViewBag.Categories)
            {
                <tr>
                    <td>@item.Category.Name</td>
                    <td>@item.Discount?.DiscountPercentage ?? 0</td>
                </tr>
            }
        </tbody>
    </table>
  
</div>
